@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.homeSlider{
    background: var(--Grad-black, linear-gradient(89deg, #000 9.23%, rgba(0, 0, 0, 0.47) 49.67%, rgba(0, 0, 0, 0.00) 61.08%));
}
.choices {
    width: 100%;
    min-width: 200px;
}

.choices__inner {
    background-color: transparent !important;
    color: #fff !important;
    border: none !important;
    border-radius: 12px !important;
    padding: 0 0 0 10px !important;
    align-content: center;
}

.choices__placeholder {
    color: white !important;
}

.choices__list--dropdown {
    /*background-color: #2d0036 !important;*/
    border: none !important;
    border-radius: 8px !important;
}

.choices__item--selectable:hover {
    /*background-color: #5a006e !important;*/
}

.choices__button {
    color: white !important;
    border: none !important;
}
.choices__input {
    padding: 4px !important;
    margin: 0 !important;
    background: transparent !important;
}
.choices__list--multiple .choices__item{
    margin: 0 !important;
}
.choices__inner input::placeholder, .choices__placeholder {
    color: white !important;
    opacity: 1 !important;
}
.choices__input .choices__input--cloned{
    width: 100ch !important;
}

/* explore-movie */
.movieCard{
    width: calc(50% - 5px);
    margin-bottom: 25px;
    cursor: pointer;
    flex-shrink: 0;
}

.movieCard .title{
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;

}

.movieCard .date {
    font-size: 14px;
    opacity: .5;
}

/* Circle Rating */
.circleRating {
    width: 40px;
    height: 40px;
    position: relative;
    top: 3px;
    flex-shrink: 0;
    background-color: #1f0337;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 15px 1px #fff9;
}

.progress-circle {
    width: 100%;
    vertical-align: middle;
}

.progress-bg {
    fill: none;
    stroke-width: 3;
}

.progress-bar {
    fill: none;
    stroke: green;
    stroke-width: 3;
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.3s ease;
}

.movieCard .genres .genre{
    background-color: #3C0753;
    width: fit-content;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    color: #fff;
    white-space: nowrap;
    box-shadow: 0 0 10px 1px #fff9;
}
@media only screen and (min-width: 768px) {
    .movieCard .title {
        font-size: 20px;
    }

    .movieCard {
        width: calc(25% - 15px);
    }

    .movieCard .circleRating {
        width: 50px;
        height: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    .movieCard {
        width: calc(20% - 16px);
    }
}
/* Hover */
.posterBlock:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.posterBlock:hover  {
    transform: scale(1.05); /* Phóng to nội dung bên trong card khi hover */
}

.movieCard:hover img {
    transform: scale(1.05); /* Phóng to ảnh khi hover */
}

::-webkit-scrollbar {
    display: none;
}
