.main {
    background: var(--Black-0, #000);
}
.year {
    color: #fff;

    /* Light@22 */
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 314.286%; /* 69.143px */
}

.title {
    color: #fff;

    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 57.6px */
}

.custom-gradient {
    background: linear-gradient(
            354deg,
            #000 9.64%,
            rgba(0, 0, 0, 0.73) 37.09%,
            rgba(0, 0, 0, 0.47) 45.71%,
            rgba(0, 0, 0, 0) 54.28%
        ),
        url("../images/play_image/slider.jpg"); /* Đảm bảo đường dẫn hình ảnh chính xác */
    background-size: cover; /* Đảm bảo hình ảnh lấp đầy */
    background-position: center; /* Căn giữa hình ảnh */
    aspect-ratio: 16 / 9; /* Tỷ lệ khung hình */
}

.info2 {
    color: #fff;

    /* semi@19 */
    font-family: Poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 22.8px */
}
.bt-watch {
    border-radius: 0px 16px;
    background: var(--Primary, #7300ff);
}

.watch.continue {
    color: #fff;

    /* semi@15 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 18px */
}

.wishlist {
    border-radius: 0px 16px;
    border: 1px solid var(--White, #fff);
    background: var(--Transluse2, rgba(48, 0, 119, 0.3));
}

.text-wish {
    color: #fff;

    /* semi@15 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 18px */
}

.bookmark-icon {
    background-image: url("../images/play_image/hugeicons_bookmark-02.svg");
    width: 50px; /* Điều chỉnh kích thước */
    height: 50px;
    background-size: contain; /* Đảm bảo SVG không bị co kéo */
    background-repeat: no-repeat;
}
/* .download {
    border-radius: 0px 16px;
    border: 1px solid var(--White, #fff);
    background: var(--Transluse2, rgba(48, 0, 119, 0.3));
} */

.text-download {
    color: #fff;

    /* semi@15 */
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 18px */
}

.synopsis > h4 {
    color: #fff;

    /* semi@37 */
    font-family: Poppins;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 44.4px */
}

.synopsis > p {
    color: var(--White, #fff);

    /* Reg@23 */
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 27.6px */
}

.synopsis > p > span {
    color: var(--Primary, #7300ff);

    /* semi@23 */
    font-family: Poppins;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.cast > h4 {
    color: #fff;

    /* semi@37 */
    font-family: Poppins;
    font-size: 37px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 44.4px */
}

.cart-item > img {
    border-radius: 120px;
    background: url(<path-to-image>) lightgray -56.177px 0px / 176.962% 100% no-repeat;
}
